html {
	background:#222;
	overflow:none;
}
#topbar1 {
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	width:100%;
	background: #ff0000;
}
#topbar2 {
	position:absolute;
	top:85px;
	left:0px;
	margin:0px;
	padding:0px;
	width:100%;
}
h1 {
	font:60px Arial Black;
	color:#fff;
	text-align:center;
	margin:0px;
	padding:0px;
}
