/******************************CSS RESET******************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, a,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
}

html {
	background:#000;
	overflow:none;
	-webkit-user-select: none;
/*	cursor:none;
*/
}
body {
	font:30px FrutigerLTStd-Black;
}
h1 {
	font-size:50px;
	color:#fff;
	text-align:center;
}
a:link {
	border:0px;
}

/******************************Header******************************/
#page1,#page2,#page3,#page4,#page5,#page6,#page7,#page8,#page9,
#page10,#page11,#page12,#page13,#page14,#page15,#page16,#page17,#page18,#page19,
#page20,#page21,#page22,#page23,#page24,#page25,#page26,#page27,#page28,#page29#page30 {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	display:none;
}
#page3,#page5 {
	background:url('../imgs/lines.png') no-repeat;
	background-position:center;
}
.topBar1 {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	background: #e51f25;
}
.topBar2 {
	position:absolute;
	top:70px;
	left:0px;
	width:100%;
}

/******************************startGreen/startYellow******************************/
#startButtonHead {
	position:absolute;
	width:100%;
	text-align:center;
	left:0px;
	bottom:600px;
}
#startGreen,#startYellow {
	position:absolute;
	bottom:300px;
	height:200px;
	width:400px;
	padding:50px 0 0 0;
	text-align:center;
	font-size:35px;
	border-radius:50%;
}
#startGreen {
	left:400px;
	background:#31b44b;
}
#startYellow {
	right:400px;
	background:#faed3c;
}

/******************************Yellow Center Info Oval******************************/
#centerInfoYellow {
	position:absolute;
	bottom:300px;
	right:550px;
	height:300px;
	width:600px;
	padding-top:50px;
	text-align:center;
	background:#faed3c;
	border-radius:50%;
}
#centerInfoYellow h1 {
	color:#000;
}

/******************************First Web Layout******************************/
.webCenterCircle {
	position:absolute;
	top:450px;
	left:720px;
	height:200px;
	width:200px;
	border-radius:50%;
	background:#faed3c;
	color:#000;
	text-align:center;
	font-size:170px;
}
.option {
	position:absolute;
	width:180px;
	height:70px;
	text-align:center;
	padding-top:30px;
	border-radius:50%;
	background:#555;
}
#option1 {
	left:300px;
	bottom:450px;
}
#page5 #option1 {
	background:#e51f25;
}
#option2 {
	left:530px;
	bottom:720px;
}
#page5 #option2 {
	background:#0eabe0;
}
#option3 {
	right:570px;
	bottom:720px;
}
#page5 #option3 {
	background:#52ae42;
}
#option4 {
	right:300px;
	bottom:450px;
}
#page5 #option4 {
	background:#f89c3e;
}
#option5 {
	right:570px;
	bottom:220px;
}
#page5 #option5 {
	background:#8f53a2;
}
#option6 {
	left:520px;
	bottom:220px;
}
#page5 #option6 {
	background:#fec13f;
}	

/******************************Navigation******************************/
.start {
	position:absolute;
	bottom:50px;
	left:50px;
}
.back {
	position:absolute;
	display:block;
	bottom:50px;
	right:250px;
}		
.next {
	position:absolute;
	display:block;
	bottom:50px;
	right:50px;
}	
	
	
	
	
	