body {
	font:0.8em Arial, sans-serif;
	color: rgb(255,255,255);
}

#screen {
	background: rgb(0,0,0);
	width:520px;
	height:320px;
	padding:0px;
	margin:0 auto;
}
#topbar1 {
	background: rgb(255,0,0);
	margin:0px;
	width:520px;
	float:left;
	padding:0px;
}
h1 {
	margin:0px;
	padding:0px;
}
#topbar2 {
	background: rgb(0,0,0);
	margin:0px;
	width:520px;
	float:left;
	padding:0px;
}